
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 m-2">
      <% @articles.each do  |article| %>
    <p> <%= link_to article.title, article_path(article) %> -
      <% if policy(article).edit? %><%= link_to 'Edit', edit_article_path(article) %> <% end %>||
      <% if policy(article).destroy? %><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: "Are you sure you would like to delete?" } %> <% end %></p>
  <% end %>
</div>
</div>
</div>
