<div class="home-banner">
  <h1>Atlas News</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div id="home-page" class="col-6 m-2">
    <h1>Articles of the World</h1>
    <p>Share your ideas to the world</p>

    <% if !user_signed_in? %>
      <p><%= link_to "Login", new_user_session_path %> || <%= link_to "Sign Up", new_user_registration_path%></p>
    <% end %>
    </div>
    <div class="featured">
      <% @articles.each do  |article| %>
      <p> <%= link_to article.title, article_path(article) %> By: <%= article.author %></p>
      <% end %>
    </div>
  </div>
</div>
