.container {
  margin: 50px auto;
  text-align: center;
}

.articles-container {
  margin: 100px auto;
  text-align: center;
}

.index-container {
  display: flex;
  justify-content: center;
  text-align: left;
}

.dashboard {

}
