.index-container {
  margin: 2%;
}
table .pretty {
  // border-collapse: collapse;
  margin: 25%;
}

.pretty th {
  background-color: #e3d4b4;
  margin: 10%;
}
.pretty td, .pretty th {
  padding: 5px 15px;
}

